body {
  background-color: #424242;
  font-family: 'Figtree', sans-serif;
  color: #ffffff;
}

h1 {
}

p {
  font-family: 'JetBrains Mono', monospace;
  border-left: 10px solid #1b1b1b;
  padding-left: 8px;
}

#first-paragraph {
  width: 380px;
  font-size: 20px;
}

#first-paragraph::first-letter {
  float: left;
  text-transform: uppercase;
  line-height: 60px;
  font-size: 90px;
  margin-top: 8px;
  font-family: 'Noto Sans Mono', monospace;
}

#animate {
  color: orange;
  position: relative;
  animation-name: example;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes example {
  from {bottom: 0px;}
  to {bottom: 10px; color: blue;}
}

.tab {
  margin-left: 40px;
}

.color-purple {
  color: #AE44DA;
}

.color-blue {
  color: #44DAD8;
}

@media only screen
  and (max-width: 800px) {
    #first-paragraph {
      font-size: 30px;
    }
}
