@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono&display=swap');

html,
body {
	height: 100%;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: left;
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

li {
  font-family: 'Bebas Neue', cursive;
  margin-left: 8px;
  margin-right: 8px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
.red-hover:hover {
  color: red;
}

.code {
  font-family: 'JetBrains Mono', monospace;
  border-left: 10px solid #1b1b1b;
  padding-left: 8px;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.color-purple {
  color: #AE44DA;
}

.color-blue {
  color: #44DAD8;
}

.animate {
  color: orange;
  position: relative;
  animation-name: code-animation;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes code-animation {
  0% {bottom: 0px;}
  25% {color: red;}
  75% {color: green;}
  100% {bottom: 10px; color: blue;}
}

@media only screen and (max-width: 500px) {
    .code {
      font-size: 13px;
      border-left: 6px solid #1b1b1b;
    }

    h1 {
      font-size: 50px;
    }

    ul {
      width: 260px;
    }
}
