body {
  background-color: #121212;
  font-family: 'Figtree', sans-serif;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  border-left: 10px solid red;
  padding-left: 8px;
}

p {
  size
}

#first-paragraph {
  width: 510px;
  font-size: 20px;
}

#first-paragraph::first-letter {
  float: left;
  text-transform: uppercase;
  line-height: 55px;
  font-size: 82px;
  margin-top: 8px;
  font-family: 'Noto Sans Mono', monospace;
}

#first-paragraph::first-line {
  font-weight: bold;
}

#second-paragraph {
  font-size: 20px;
}

.tab {
  margin-left: 40px;
}

.color-purple {
  color: #AE44DA;
}

.color-blue {
  color: #44DAD8;
}
